*{ 
    margin:0;
    padding: 0;
    box-sizing: border-box;
    }
    body{
        background-color: lavender; 
        background-image: linear-gradient(lavender, lightpink);
        color:darkslategray;
        font-family: 'Hachi Maru Pop', cursive;
        min-height: 100vh;
    }
    header{
        font-size: 1.5rem;
        min-height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    form {
        min-height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;  
    }
    form input{
        padding: 0,5rem;
        font-size: 2rem;
        border: none;
        background: white;
    }
    form button{
        padding: 0,5rem;
        font-size: 2rem;
        border: none;
        background: white;
        color:rgb(252,223, 228);
        background: white;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    form button:hover{
        color:white;
        background: rgb(252,223, 228)
    }